body{
	margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

/*body img{
	z-index: -5000;
	    position: fixed;
    width: 100vw;
}
*/
.login{
    width: 83vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    background-color: #ffffffed;
}

.logo img{
	width: 40vw;
}

.botao-entrar{
	width: 83%;
}
.botao-entrar button{
    width: 100%;
    height: 7vh;
    border-radius: 3px;
    background-color: #080113e6;
    color: white;
}

.inputs{
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.input1, .input2{
	width: 80%;
    height: 25%;
    background-color: #80808012;
    border-radius: 5%;
}

.botao-cadastrar{
	width: 100vw;
    bottom: 0;
    position: fixed;
    height: 9%;
    font-family: 'Roboto Slab', serif;
    background-color: white;
}

.botao-cadastrar button{
    width: 100vw;
    height: 100%;
    background-color: #080113e6;
    color: white;
    border: 0;
}


@media(min-width: 364px){
	.botao-cadastrar{
	height: 10%;
	}
	.login {
    width: 80vw;
    height: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }  
}

@media(min-width: 412px){
	.login {
    height: 73vw;
    }
}

@media(min-width: 619px){
	body{
    background-image: url(gamer-fundo.png);
    background-size: 100% 100%;
	}
	.login {
    width: 50vw;
    height: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 3px;
    }
    .botao-entrar{
    	width: 100%;
    }
    .logo img {
    width: 32vw;
    }
    .botao-cadastrar {
    height: 8%;
    }
}
@media(min-width: 683px){
	.logo img {
    width: 26vw;
    }
    .login {
    width: 40vw;
    height: 54vw;
    }
}

@media(min-width: 810px){
	.login {
    width: 36vw;
    height: 49vw;
    }
    .logo img {
    width: 23vw;
    }
}

@media(min-width: 940px){
	.login {
    width: 32vw;
    height: 40vw;
    }
    .logo img {
    width: 19vw;
    }
}

@media(min-width: 1140px){
	.login {
    width: 26vw;
    height: 32vw;
    }
    .logo img {
    width: 15vw;
    }
}